<!-- SESSAO CURSOS ***************** -->
<div style="background-color: black; padding: 3vh; z-index: 10; position:relative; color: gray;">
  <div class="container">
  <h2 style="color: gray;">Conheça nossos cursos:</h2>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 zoom">
      <center>
        <div style="margin-bottom: 3vh;">
          <%= image_tag "99CV.png", class: 'img-responsive center-block fit-image-courses', alt: "Curso preparatório para entrevista 99CV" %> <br>
          <p style="font-size: 2vh;">Curso 100% focado no desenvolvimento o currículo do candidato, a porta de entrada em todo processo seletivo para vagas de estágio, trainee ou trabalho</p>
          <%= link_to inscricoes_encerradas_path do %> <!-- novenovecv_path  -->
            <div class="btn btn-text" style="margin-top: -0.3vh;">Saiba mais</div>
          <% end %>
        </div>

      </center>
    </div>

    <div class="col-xs-12 col-sm-6 zoom">
      <center>
        <div style="margin-bottom: 3vh;">
          <%= image_tag "AE2.png", class: 'img-responsive center-block fit-image-courses', alt: "Curso preparatório para entrevista 99CV" %> <br>
          <p style="font-size: 2vh;">Curso dedicado a ensinar o candidado a fazer a entrevista de emprego de modo excepcional, de forma a ser aprovado em todas as etapas do processo seletivo e conseguir a vaga de trabalho</p>
          <%= link_to inscricoes_encerradas_path do %> <!-- aprovando_em_entrevistas_path -->
            <div class="btn btn-text" style="margin-top: -0.3vh;">Saiba mais</div>
          <% end %>
        </div>
      </center>
    </div>
  </div>
  </div>
</div>
<br>
<br>
<!-- SESSAO CURSOS ***************** -->
