


<style>

.footer {
  background: #2B3D41;

}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  color: rgba(0,0,0,0.5);
}

.footer-text {
  padding: 0px 0px;
  color: white;
  font-size: 1.6vh;
  margin-top: 1vh;
}

.footer-copyright {
  font-size: 2vh;
}

.footer-links {
  display: flex;
  margin-left: 3vh;
  justify-content: center;
}

.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  font-size: 2vh;
  padding: 1vh;
}

.footer-links a:hover {
  opacity: 1;
}

.icon-style {
  font-size: 4vh;
}


.footer-about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 30px;


}


.link-style {

  color: white;
  font-size: 2vh;
}

.link_margin {
  margin: 1vh;
  border-color: grey;
  margin-top: -1vh;
  font-size: 2vh;
  border-radius: 10px;
  border-width: 0.5px;
}
.social-link-style {
  padding: 2vh;
  color: white;
  font-size: 4vh;
}

</style>



<div class="footer">
<br>
<br>

  <br>
  <div>
    <center>
    <div>
    <%= link_to root_path, class: "" do %>
      <%= image_tag "logofim.png", height: 100 %>
    </div>
      <br>
    <% end %>

   <p class="footer-text">Nos acompanhe nas redes sociais</p>
    <div style="margin-top: -2.5vh;">
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter icon-style social-link-style hide"></i></a>
      <a href="https://www.linkedin.com/company/entrevista-descomplicada" target="_blank"><i class="fab fa-linkedin icon-style social-link-style"></i></a>
      <a href="https://www.facebook.com/entrevistadescomplicada/"><i class="fab fa-facebook-square icon-style social-link-style"></i></a>
      <a href="https://www.instagram.com/entrevistadescomplicadaoficial/" target="_blank"><i class="fab fa-instagram icon-style social-link-style"></i></a>
      <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube icon-style social-link-style"></i></a>
    </div>
  </center>
  </div>

  <hr/ style="margin-top: 1vh; margin-bottom: 1vh;">
  <div class="footer-links">
    <a class="link-style hide" style="color: white;" href="/videos">Vídeos</a> <br>
    <a class="link-style" style="color: white;" href="/curriculocampeao">Recursos</a> <br>
    <a class="link-style hide" style="color: white;" href="">Contato</a> <br>
    <a class="link-style" style="color: white;" href="/sobre">Sobre</a> <br>
    <a class="link-style hide" style="color: white;" href="">Contato</a> <br>
    <a class="link-style hide" style="color: white;" href="">Blog</a> <br>
  </div>

  <br>

</div>

