<!-- SEÇÃO GARANTIA 30 DIAS-->
<center>
  <br>
  <div class="container">
    <br>
    <%= image_tag "garantia.png", class: 'img-responsive center-block fit-image-garantia', alt: "Entrevista Descomplicada - Curso 99CV" %>

    <h3>VOCÊ NÃO TEM NADA À PERDER...</h3>
    <h4 style="font-weight: 300; color: grey; line-height: 1.5; font-size: 2.5vh; padding: 2vh;">Não existe dúvida, o curso 99CV funciona, a prova disso são os muitos alunos com resultados em diversos processos seletivos. Mas se você ainda tem alguma dúvida você pode experimentar por 7 dias e, caso você não goste ou não veja nenhum resultado, basta enviar um email durante esse período que todo o valor investido será 100% reembolsado.
    <br>
    <br>
    Ou seja, se der certo você será convidado(a) para entrevista que desejar, se der errado você tem 100% do seu dinheiro de volta.
    <br>
    <br>
    <strong>O único risco que você corre é continuar procurando emprego sem resultados efetivos. Simples assim!</strong></h4>
    <%= link_to novenovecv_path do %>
      <div class="btn btn-danger btn-text-curso">QUERO RESULTADOS EFETIVOS</div>
      <p style="color: black;">Link para inscrição</p>
    <% end %>
    <br>
  </div>
</center>
<!-- FIM SEÇÃO GARANTIA 30 DIAS-->
