<!-- SEÇÃO EMENTA-->
<div class="background-curso">
<div class="container" style="z-index: 1;">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 style="color: white; font-size: 3vh;">O que você vai aprender</h3>
      <ol style=" font-weight: 300; color: #b8c1c8; line-height: 2;">
        <li>Os 3 pilares de um bom currículo</li>
          <ul>
            <li>Entendendo os 3 pilares do currículo</li>
            <li>Pilar profissional</li>
            <li>Pilar acadêmico</li>
            <li>Pilar pessoal</li>
            <li>Importância da visão 360 do candidato na hora da entrevista</li>
          </ul>
        <li>Composição do conteúdo de um bom currículo</li>
          <ul>
            <li>Ordem de eventos e experiências profissionais</li>
            <li>Composição do conteúdo do currículo para recém formados</li>
            <li>Composição do conteúdo do currículo para profissionais com pouca experiência</li>
            <li>Composição do conteúdo do currículo para profissionais com experiência de trabalho</li>
            <li>Composição do conteúdo do currículo para pessoas sem experiência profissional</li>
          </ul>
        <li>Como escrever itens do currículo de forma organizada para não deixar dúvidas no entrevistador</li>
          <ul>
            <li>Método de escrita direta de atividades profissionais</li>
            <li>Como falar de resultados de projetos</li>
            <li>Quantificando resultados / a importância dos números no CV</li>
          </ul>
        <li>Como fazer seu currículo se destacar da multidão com uma técnica simples de escrita que 99% dos candidatos não utilizam</li>
        <li>Como escrever experiências fora do contexto de trabalho no currículo profissional</li>
        <li>Como preencher "espaços vazios" com histórias relevantes</li>
        <li>Como desenvolver novas experiências profissionais sem "carteira assinada" pra valorizar o currículo</li>
      </ol>
      </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 style="color: white; font-size: 3vh;">Por dentro da plataforma</h3>
      <br>
      <%= image_tag "democ.gif", class: "img-responsive max-gif-size", style: "border-radius: 3px" %>
      <br>
      <h3 style="color: white; font-size: 3vh;">Ferramentas e suporte exclusivo</h3>
      <div style=" font-weight: 300; color: #b8c1c8; line-height: 2;">
        <li>Conteúdos em formato de vídeo e texto</li>
        <li>Grupo da turma para resposta de dúvidas</li>
        <li>Email de contato com especilistas em recrutamento e seleção exclusivo para alunos</li>
        <li>Compartilhamento de comentários da aula</li>
        <li>Aulas para baixar e assitir sem internet quando quiser</li>
        <li>Acesso por 1 ano a todo o conteúdo atualizado</li>
      </div>
    </div>

  </div>

</div>
<br>
</div>
<!--FIM: EMENTA-->
