

<style>

.background-ementa {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">
}

</style>



<!-- SEÇÃO EMENTA-->
<div class="background-ementa">
<div class="container" style="z-index: 1;">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 style="color: white; font-size: 3vh;">O que você vai aprender</h3>
      <ol style=" font-weight: 300; color: #b8c1c8; line-height: 2;">
        <li>xxxxkash jahfkjhfs akjffh</li>
          <ul>
            <li>xxxxkash jahfkjhfs akjffh</li>
            <li>xxxxkash jahfkjhfs akjffh</li>
            <li>xxxxkash jahfkjhfs akjffh</li>
            <li>xxxxkash jahfkjhfs akjffh</li>
            <li>xxxxkash jahfkjhfs akjffh</li>
          </ul>
        <li>xxxxkash jahfkjhfs akjffh</li>
          <ul>
            <li>xxxxkash jahfkjhfs akjffh</li>
            <li>xxxxkash jahfkjhfs akjffh</li>
            <li>xxxxkash jahfkjhfs akjffh</li>
            <li>Composição do conteúdo do currículo para profissionais com experiência de trabalho</li>
            <li>Composição do conteúdo do currículo para pessoas sem experiência profissional</li>
          </ul>
      </ol>
      </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 style="color: white; font-size: 3vh;">xxxxkash jahfkjhfs akjffh</h3>
      <br>
      <%= image_tag "democ.gif", class: "img-responsive max-gif-size", style: "border-radius: 3px" %>
      <br>
      <h3 style="color: white; font-size: 3vh;">xxxxkash jahfkjhfs akjffh</h3>
      <div style=" font-weight: 300; color: #b8c1c8; line-height: 2;">
        <li>xxxxkash jahfkjhfs akjffh</li>
        <li>xxxxkash jahfkjhfs akjffh</li>
        <li>xxxxkash jahfkjhfs akjffh</li>
        <li>xxxxkash jahfkjhfs akjffh</li>
        <li>xxxxkash jahfkjhfs akjffh</li>
        <li>xxxxkash jahfkjhfs akjffh</li>
      </div>
    </div>

  </div>

</div>
<br>
</div>
<!--FIM: EMENTA-->
