<!-- SESSAO PARA EMPRESAS ***************** -->
<div style="
background: white; padding: 3vh; z-index: 10; position:relative; color: gray;">

  <div class="container">
  <h3 style="color: gray;">Para empresas:</h3>
  <h4 style="color: gray;">Está procurando um novo talento para sua empresa?</h4>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <center>
          <i class="fas fa-city" style="font-size: 20vh; color: #356AE6;"></i>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6">
      <p style="font-size: 3vh;">
        <br>
        Conectamos os melhores talentos às melhores oportunidades todos os dias.
        <br>
        <br>
        <center><strong>Veja nossas soluções para empresas!</strong></center>
      </p>
      <center><p><a class="btn btn-sm" href="mailto:contato@entrevistadescomplicada.org">Entre em contato</a></p></center>
      <br>


    </div>
  </div>
  </div>
</div>
<!-- SESSAO PARA EMPRESAS FIM ***************** -->
