<div style="background-color: #F7F7F7; padding: 2vh; margin-top: -20px;">
  <div class="container" style="z-index: 1;">
    <center>
      <br>
      <br>
      <strong></strong>
      <p style="font-size: 3.5vh;">Nos acompanhe também nas redes socias, lá você vai encontrar várias <strong>dicas sobre como escrever seu currículo</strong> e ser <strong>aprovado(a) em entrevistas de emprego</strong></p>
    <div>
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter link-style-obrigado hide"></i></a>
      <a href="https://www.linkedin.com/company/entrevista-descomplicada" target="_blank"><i class="fab fa-linkedin link-style-obrigado"></i></a>
      <a href="https://www.facebook.com/entrevistadescomplicada/"><i class="fab fa-facebook-square link-style-obrigado"></i></a>
      <a href="https://www.instagram.com/entrevistadescomplicadaoficial/" target="_blank"><i class="fab fa-instagram link-style-obrigado"></i></a>
      <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube-square link-style-obrigado"></i></a>
    </div>
    </center>
    <br>
  </div>
</div>
