<!-- SEÇÃO PORQUEFUNCIONA-->
<div style="background-color: black;">
<br>
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6">
      <h3 style="color: #CCCCCC; font-size: 5vh; line-height: 1.5;">PORQUE EU SEI QUE O CURSO 99CV VAI FUNCIONAR PRA VOCÊ</h3>
      <br>
      <center>
        <%= image_tag "99CV.png", style: 'max-height: 200px; border-radius: 3px;' , class: "img-responsive"%>
        <br>
        <br>
        <%= link_to "https://pay.hotmart.com/C32527072U?checkoutMode=0&bid=1590541859524" do %>
          <div class="btn btn-light btn-title-style" style="">QUERO SER APROVADO(A) EM ENTREVISTAS</div>
          <p style="color: white; margin-top: 1vh;">Link para inscrição</p>
        <% end %>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <br>
      <div style=" font-weight: 300; color: #b8c1c8; line-height: 2;">
      <p style="font-size: 2vh; font-weight: bold;">Quantas entrevistas você já fez e recebeu respostas como "estamos procurando outro perfil", "boa sorte na sua jornada" ou mesmo nem resposta recebeu?</p>
      <p>Isso acontece porque a maioria dos candidatos cometem uma série de erros básicos na hora de escrever o currículo e fazer entrevistas que poderiam ser totalmente evitados com uma orientação adequada. O curso 99CV foi <strong>construído por uma série de especialistas</strong> com anos de experiência em processos seletivos <strong>a partir de uma metodologia exclusiva</strong>, de forma a ensinar o cadidato a evitar erros desnecessários e, além disso, se destacar da grande maioria com um <strong>currículo profissional impecável</strong></p>
      <br>
      <p><strong>VOCÊ TERÁ UMA SÉRIE DE RECURSOS EXCLUSIVOS PRA TE DAR TODO O SUPORTE NO PROCESSO</strong></p>
        <li>Método desenvolvido por candidatos para candidatos conseguirem a vaga!!! Nada de dicas inúteis de gerentes de RH ou recrutadores de empresas</li>
        <li>Metodologia de ensino baseada em casos práticos</li>
        <li>Explicações com exemplos práticos pra facilitar o entendimento</li>
        <li>Revisão de currículo dedicada por time de especialistas</li>
        <li>Canal para dúvidas dedicado aos alunos</li>

      <hr style="max-width: 600px;">
      <h2 style="font-size: 2vh; margin: 0.2vh; color: white; margin-top: -1.5vh; font-weight: 300; color: #b8c1c8;">Zé Ricardo - Co-fundador da Entrevista Descomplicada</h2>
      </div>
    </div>

  </div>

</div>
<br>
brr
</div>
<!--FIM: PORQUEFUNCIONA-->
