



<style>

@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.dot-number {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 6vh;
  background: #F0386B;
  padding: 2vh;
  display:inline-block;
  margin-bottom: -1vh;
  margin-top: 1vh;
  height: 90px;
  width: 90px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background: black;
}

.dot-text {
  padding: 2vw;
  font-size: 2vh;
  max-width: 80vw;
  color: white;
  margin-top: -2vh;
}

.background {
background-color: #0e5f99;
background-image: url(http://agenciarede.com/wp-content/uploads/2019/04/loP4TEOo.jpeg);
background-attachment: fixed;
background-size: cover;
}

.round-img {
  height: 200px;
  border-radius: 50%
}
</style>


<div class="background">
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.9) 0%, rgba(58,57,131,0.8164040616246498) 52%, rgba(51,137,154,0.9) 100%); border-radius: 3px;">


  <div class="container">
  <br>
  <br>
  <!--TITLE-->
  <div style="position: relative; color: white;">
    <div class="container">
      <center>
        <%= image_tag "https://salaodebelezadelivery.com.br//franquias/2/21698/editor-html/4213895.png", class: 'img-responsive center-block round-img', alt: "Entrevista Descomplicada" %>
        <h1 class="" style="font-size: 3vh; margin: 2vh;">MASTERCLASS</h1>
        <p style="font-size: 2vh;">Tranforme seu salão de beleza em um negócio sem limites</p>

        <!-- DATA-->
        <div style="color: white;">
          <hr style="color:white; max-width: 400px;">
          <i class="fas fa-calendar-alt" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">25/08 | 20h00</p></i> &nbsp; &nbsp; &nbsp;
          <i class="fas fa-laptop-code" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">Online</p></i> &nbsp; &nbsp; &nbsp;
          <i class="fas fa-money-bill-wave" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% Grátis</p></i>
        </div>
        <!-- DATA END-->

        <script async data-uid="4a87b324c6" src="https://crafty-architect-8610.ck.page/4a87b324c6/index.js"></script>

      </center>
    </div>
    <br>
    <br>
    <br>
  </div>
  <!-- TITLE END-->
  </div>

</div>
</div>


<%= render 'shared/novenoveementa' %>

<%= render 'shared/depoimentos' %>

<%= render 'shared/quemsomos' %>


</div>































