



<style>
/* Play with this value */
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.dot-number {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 6vh;
  background: #F0386B;
  padding: 2vh;
  display:inline-block;
  margin-bottom: -1vh;
  margin-top: 1vh;
  height: 90px;
  width: 90px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background: black;
}

.dot-text {
  padding: 2vw;
  font-size: 2vh;
  max-width: 80vw;
  color: white;
}

.banner {
background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
text-align: center;
margin-top: 0px;
}


.link-style {
  padding: 2vh;
  color: black;
  font-size: 10vh;
}

.back {
background-color: #0e5f99;
background-image: url(http://agenciarede.com/wp-content/uploads/2019/04/loP4TEOo.jpeg);
background-attachment: fixed;
background-size: cover;
 }


</style>


<div class="back">
  <br>
  <br>

  <div class="container">
  <br>
  <br>

  <div style="background-color: rgba(102, 0, 204, 0.8);;  border-radius: 3px;">
  <br>

  <!-- DATA-->
    <center>
    <div style="color: white;">
      <div>
      <h1 class="title-text">LIVE </h1> <br/>
      <h2 style="font-size: 4vh;">OBRIGADA</h2>
      <p class="" style="font-size: 2.5vh; padding: 0.5vh; margin-right: 1vh; margin-left: 1vh;">Confirme sua inscrição através do email enviado.</p>
      </div>
    <hr style="color:white; max-width: 400px;">
    <i class="fas fa-calendar-alt" style="font-size:2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">12 de Março </p></i> &nbsp; &nbsp;
    <i class="fas fa-clock" style="font-size:2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">20h00 </p></i> &nbsp; &nbsp;
    <i class="fas fa-laptop-code" style="font-size:2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% online</p></i>
    </div>
    <br>
  </center>
  <!-- DATA END-->

    <br>
    <br>

    <center>
      <div style="font-weight: bold;">
        <p style="font-size: 4vh; color: white;">Não esqueça:</p>
      </div>
    </center>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number">1</h1> <br> <br>
            <p class="dot-text">Entre no nosso canal do <strong>Telegram da turma</strong>, nele vamos distribuir o <strong>material exclusivo da aula</strong>. Caso ainda não tenha o aplicativo <strong>baixe aqui:</strong></p>
            <a href="https://t.me/liveentrevistadescomplicada"><i class="fab fa-telegram" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a>
            <p></p>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number">2 </h1> <br/> <br>
            <p class="dot-text"><strong>Se inscreva</strong> no nosso canal e <strong>ative as notificações</strong> do YouTube para ser alertado(a) no dia e hora da aula.</p>
            <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <h1 class="dot-number">3 </h1> <br/> <br>
            <p class="dot-text"><strong>Nos siga</strong> nas redes socias para acompanhar as <strong>novidades do projeto Entrevista Descomplicada.</strong></p>
            <div style="">
              <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter hide" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.linkedin.com/company/entrevista-descomplicada" target="_blank"><i class="fab fa-linkedin" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.facebook.com/entrevistadescomplicada/"><i class="fab fa-facebook-square" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.instagram.com/entrevistadescomplicadaoficial/" target="_blank"><i class="fab fa-instagram" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a> &nbsp; &nbsp; &nbsp;
              <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube" style="color: white; font-size: 6vh; margin-top: -2vh;"></i></a>
            </div>
          </div>
        </center>
      </div>
    </div>
  <br>
  <br>
  </div>

<br>
<br>

<!-- links para media social-->
<div class="hide">
  <br>
  <div class="container" style="background-color: white;  border-radius: 3px; max-width: 90vw;">

  <center>
    <br>

    <strong><p>Nos siga nas redes sociais:</p></strong>
   <div style="">
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter hide" style="color: black; font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
      <a href="https://www.linkedin.com/company/entrevista-descomplicada" target="_blank"><i class="fab fa-linkedin" style="color: black; font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
      <a href="https://www.facebook.com/entrevistadescomplicada/"><i class="fab fa-facebook-square" style="color: black; font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
      <a href="https://www.instagram.com/entrevistadescomplicadaoficial/" target="_blank"><i class="fab fa-instagram" style="color: black; font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
      <a href="https://www.youtube.com/channel/UCsAuZS9eplm4ykzSYwpHeDw" target="_blank"><i class="fab fa-youtube" style="color: black; font-size: 6vh;"></i></a> &nbsp; &nbsp; &nbsp;
    </div>
  </center>

  <br>
  <br>

  </div>
    <br>
    <br>
  </div>
  <br>
</div>

<!-- links para media social- END-->

</div>

</div>



































