



<style>
/* Play with this value */
@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

.title-text {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 6vh;
  background: #F0386B;
  padding: 2vh;
  border-radius: 3px;
  display:inline-block;
  margin-bottom: -1vh;
  margin-top: 5vh;
}

.banner {
background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 100%;
text-align: center;

margin-top: 0px;
}

.icon-font {
margin-top: 1vh;
margin-bottom: 0vh;
font-size: 4vh;
color: black;
font-family: 'Barriecito';
font-weight: bold;
}

.back {
background-color: #0e5f99;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%230e5f99'/%3E%3Cstop offset='1' stop-color='%23130a82'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

</style>


<div style="background-color: #2EEEE2;" class="back">


<div class="banner back">

  <div>
    <h1 class="title-text">LIVE </h1> <br/>
    <h2 style="font-size: 4vh; color: white;">ENTREVISTA DESCOMPLICADA</h2>
    <p class="" style="font-size: 2.5vh; padding: 0.5vh; margin-right: 1vh; margin-left: 1vh;  color: white;">Uma super aula online que vai mudar completamente a forma como você faz entrevistas de emprego!</p>
  </div>


<!-- Begin Mailchimp Signup Form 2 -->
<!-- Begin Mailchimp Signup Form -->
<center>
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{font:14px; width:100%; max-width:600px; opacity: 100%;}
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://entrevistadescomplicada.us3.list-manage.com/subscribe/post?u=a0af30e40c118dd4db6006b86&amp;id=68e02f90e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <center>
  <div id="mc_embed_signup_scroll">
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Digite seu email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a0af30e40c118dd4db6006b86_68e02f90e4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Quero participar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger" style="background-color: #F0386B;"></div>
    </div>
  <center>
</form>
</div>
<center>

<!--End mc_embed_signup-->
<!-- END Mailchimp Signup Form -->




  <!-- DATA-->
  <div style="color: white;">
  <hr style="color:white; max-width: 400px;">
  <i class="fas fa-calendar-alt" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">12 de Março </p></i> &nbsp; &nbsp; &nbsp;
  <i class="fas fa-clock" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">20h00 </p></i> &nbsp; &nbsp; &nbsp;
  <i class="fas fa-laptop-code" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% online</p></i>
  </div>
  <br>

  <!-- DATA END-->


</div>




  <br>


  <div class="container" style="background-color: white;  border-radius: 3px; margin-top: -3vh;">

    <br>
    <br>
    <center>
      <div style="font-weight: bold;">
        <p style="font-size: 5vh; color: black;">O que você vai aprender?</p>
      </div>
    </center>
    <br>
    <div class="row"">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <i class="fas fa-cogs" style="font-size: 8vh; color: black;"></i>
            <h2 class="icon-font">Método</h2>
            <p style="padding: 2vw; font-size: 2.5vh;">Você vai aprender um novo método de fazer <strong>entrevistas de emprego</strong> que funcionou em mais de <strong>50 entrevistas</strong>.</p>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <i class="fas fa-user-cog" style="font-size: 8vh; color: black;"></i>
            <h2 class="icon-font">Mindset do entrevistador</h2>
            <p style="padding: 2vw; font-size: 2.5vh;">Por que o método <strong>tradicional</strong> de se fazer entrevistas <strong>não é o mais eficiente</strong> para conseguir a vaga de trabalho.</p>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <center>
          <div style="margin-bottom: 3vh;">
            <i class="fas fa-hand-paper" style="font-size: 8vh; color: black;"></i>
            <h2 class="icon-font">Sem pagar nada</h2>
            <p style="padding: 2vw; font-size: 2.5vh;">Aula <strong>100% gratuita</strong>, basta se <strong>inscrever</strong>!</p>
          </div>
        </center>
      </div>
    </div>
  <br>
  <br>
  </div>

<br>

<!-- TESTEMUNHOS -->
<div class="container" style="background-color: white;  border-radius: 3px;">
  <br>
  <p style="font-style: italic; font-weight: bold; font-size: 2.5vh;">O que falam do Entrevista Descomplicada</p>
  <hr/ style="margin-top: -1vh; margin-bottom: -1vh;"> <br>
  <img style='height: 100%; width: 100%; object-fit: contain' src="/assets/testemunho-f7f7f8ed09a549c9532fe8bfb60e45216cdcc41792c1a409d00f22d99e3ce2ff.png" alt="">
  <br>
  <br>
</div>
<!-- TESTEMUNHOS | FIM -->



<!-- teste-->
  <br>
  <div class="container" style="background-color: white;  border-radius: 3px; max-width: 95vw;">

    <br>
    <br>
    <center>
      <div style="font-weight: bold;">
        <p style="font-size: 4vh;">Conhecendo o projeto:</p>
      </div>
    </center>
    <br>
    <div class="row"">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <center>
          <div style="margin: 2vh;">
            <%= image_tag "logo.png", height: 230, alt: "entrevista descomplicada" %>
          </div>
        </center>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <center>
          <div>
            <p style="font-size: 2.3vh; margin: 2vh;">
            O projeto Entrevista Descomplicada nasceu da nossa <strong>insatisfação</strong> com os processos de seleção das grandes empresas, <strong>cada vez mais nós (candidatos) estamos preparados</strong> e ainda assim recebemos um <strong>NÃO</strong> em entrevistas <strong>sem nenhum tipo de explicação</strong> e muitas vezes <strong>sem nenhum tipo de consideração</strong> por parte do contratante. Dessa forma nos unimos pra <strong>passar tudo o que aprendemos nas diversas entrevistas que já fizemos sem enrolação</strong>, pra que você use o conhecimento e consiga a aprovação na próxima entrevista de trabalho.
            <br>
            Veja nosso propósito no link a seguir:
            <br>
            <br>
            <%= link_to "Nosso propósito", sobre_path%>
            </p>
          </div>
        </center>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
  </div>
  <br>

<!-- teste END-->



<br>
</div>


































