



<style>
.videoContainer {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 85vh;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}

#videoTrailer {
  min-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.title-text {
  color: white;
  font-size: 6vh;
  padding: 0.5vh;
  border-radius: 3px;
  display:inline-block;
  padding-left: 1.5vh;
  padding-right: 1.5vh;

}

.btn-text {
  color: white;
  background-color: #F0386B;
  margin: 20px;
  font-size: 2.5vh;
  font-family: 'Barriecito', cursive;
}

.zoom:hover {
  transform: scale(1.02);
}

</style>


<div class="videoContainer">


  <img id="videoTrailer" style="object-fit: cover; opacity: 0.2;" src="/assets/business.jpeg" alt="sobre/about">

  <div style="position: relative; margin-top: -80vh;">
    <div class="container">
    <%= image_tag "logofim.png", height: 120, alt: "Entrevista Descomplicada" %> <br>
    <h1 class="" style="font-size: 2.5vh; margin: 2vh; color: white; line-height: 20pt; font-weight: normal;">O projeto Entrevista Descomplicada nasceu da <strong>insatisfação com os processos de seleção</strong> das grandes empresas. Cada vez mais nós (candidatos) estamos mais preparados e ainda assim recebemos um <strong>NÃO</strong> em entrevistas <strong>sem nenhum tipo de explicação</strong>. Aqui o candidato vai receber <strong>todos os recursos</strong> sobre como se preparar e conseguir a tão sonhada vaga de trabalho.</h1>
    <p class="" style="font-size: 2vh; color: white;">Zé Ricardo | Co-fundador da Entrevista Descomplicada </p>
    </div>
  </div>
</div>

<br>

<div style="background-color: #F7F7F7; padding: 2vh; margin-top: -20px;">
  <div class="container" style="z-index: 1;">
  <br>
  <center>
    <p style="font-size: 3vh;">Venha também fazer parte dessa comunidade que cresce dia após dia</p>
    <p style="font-size: 2vh;">Inscreva-se 100% grátis e receba por email um modelo de currículo para editar na sua próxima entrevista</p>
    <script async data-uid="618a01e509" src="https://crafty-architect-8610.ck.page/618a01e509/index.js"></script>
  </center>

  </div>
  <br>
</div>

<%= render 'shared/depoimentos'%>

</div>


</strong>






























