

<style>

   .max-size {
      max-height: 30vh;
   }

   .max-gif-size {
      margin-top: -20vh;
   }

  .cvback {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;

  }
</style>

<div style="
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<br>

<div class="container" style="color: white; border-radius: 3px; max-width: 95%;">
  <div class="row">

    <div class="col-xs-12 col-sm-7 col-md-7">

      <div style="padding: 3vh;">
        <h1 style="font-size: 4vh;">Currículo campeão +10 dicas de como montar seu currículo</h1>
        <h2 style="font-size: 2vh;">Com esse modelo de currículo já fui chamado para mais de 50 entrevistas. Faça o download do modelo e reescreva com suas experiências para conseguir sua vaga também.</h2>
        <h2 style="font-size: 2vh;">Zé Ricardo | Co-fundador da Entrevista Descomplicada</h2>
        <br>
        <center><p style="font-size: 2vh;">Inteiramente <strong>grátis</strong> por email.</p></center>
        <script async data-uid="618a01e509" src="https://crafty-architect-8610.ck.page/618a01e509/index.js"></script>
      </div>

    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 cvback">
      <br>
      <div>

        <div style="padding-left: 3vh;">

        </div>
      </div>
      <br>
    </div>

  </div>

</div>


<br>
<br>


<div style="background-color: white;" >



</div>




</div>






























